/* rem and em do not depend on HTML font size in media-queries */
/* Instead 1rem = 1 em  = 16px */

/* ******************************** */
/* BELOW 1344px (Smaller desktops) */
/* ******************************** */
@media(max-width: 84em) {
  .section-articles {
    gap: 4.8rem;
  }

  .article {
    width: 35rem;
  }
}

/* ******************************** */
/* BELOW 1200px (landscape tablets) */
/* ******************************** */

@media(max-width: 75em) {

  .article {
    grid-template-rows: 0.8fr 1fr auto;
    width: 30rem;
  }

  .article-information {
    font-size: 1.6rem;
  }

  .primary-heading {
    font-size: 6.4rem;
  }

  .select-category{
    width: 30rem;
    font-size: 1.8rem;
  }

  .btn{
    font-size: 1.8rem;
  }
}

/* ******************************** */
/* BELOW 1008px (Tablets) */
/* ******************************** */

@media(max-width: 63em) {

  .section-articles {

    flex-direction: column;

  }

  .article {
    width: 100%;
    justify-self: center;
    margin-top: 6.4rem;
    
    grid-template-rows: 1fr auto;
    grid-template-columns: 0.5fr 1fr;
  }

  .article:last-child{
    margin-bottom: 3.2rem;
  }
  .article:first-child{
    margin-top: 3.2rem;
  }
  .article-img{
    width: 90%;
    align-self: center;
    grid-row: 1/-1;
  }
  .article-information{
    grid-column: 2/3;
    align-self: flex-end;
  }

  .categories{
    flex-direction: column;
    align-items: center;
    gap: 4.8rem;
  }

  .categories-search{
    gap: 1.6rem; 
  }

  .section-quote{
    justify-self: center;
    width: 70%;
  }

}


/* ******************************** */
/* BELOW 704px (Smaller Tablets) */
/* ******************************** */

@media(max-width:44em){
  .primary-heading {
    font-size: 5.2rem;
  }

  html{
    font-size: 55%;
  }

  
}


/* ******************************** */
/* BELOW 608px (Phones) */
/* ******************************** */


@media(max-width: 38em){
  .section-articles{
    width: 100%;
  }

  /* .article{
    margin-top: 8rem;
  } */

 

  .article-img{
    width: 90%;
  }
  
  .article-heading{
    font-size: 1.4rem;
    font-weight: 500;
    padding: 1rem;
  }
  .article-information{
    font-size: 1.2rem;
    padding-bottom: 1rem;
  }

  .article-information p{
    padding-left: 1rem;
  }

  .categories{
    gap: 3.2rem;
  }

  .categories-search{
    gap: 1.6rem; 
  }

  .select-category{
    width: 20rem;
    font-size: 1.2rem;
  }

  .btn{
    font-size: 1.2rem;
  }

  .category-option{
    font-size: 1.8rem;
    padding: 1.5rem 1.5rem;
  }

  .section-quote{
    justify-self: center;
    width: 100%;
  }

  .section-quote div{
    align-items: center;
  }

  

}

/* ******************************** */
/* BELOW 496px (Phones) */
/* ******************************** */

@media(max-width:31em){

  .article-heading{
    font-size: 1.4rem;
    font-weight: 500;
    padding: 0.5rem;
  }
  .article-information{
    padding-bottom: 0rem;
  }

  .article-information p{
    padding-left: 1rem;
  }

  main{
    padding: 0 1rem;
  }

  .primary-heading {
    font-size: 4.4rem;
  }

  .section-quote div {
    font-size: 1.4rem;
  }


}

