/* 
- FONT SIZE SYSTEM (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98


- SPACING SYSTEM (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128


Text Color: #fff #000 #999999

background color:#fff , #000, #1a1a1a, #e6e6e6

padding:  (1rem 2rem),(2rem,2rem), 2rem ,6.4rem
*/



* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Rubik', sans-serif;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
}

body {
  height: 100vh;
  width: 100vw;
  position: relative;
  background-color: #1a1a1a;
  color: white;

}

.header {
  height: 10%;
  width: 100vw;
  border-bottom: 4px solid white;
  padding: 2rem 4rem;
}

.logo {
  font-size: 3rem;
}

.fill{
  color: #999999;
}

.btn--refresh {
  display: none;
}

.display--flex{
  display: flex !important;
}


main {
  display: grid;
  grid-template-rows: 2fr 1fr;
  grid-template-columns: 1fr;
  max-width: 140rem;
  margin: 0 auto;
  padding: 0 4rem;
  height: 90%;
  align-items: center;
  justify-content: center;
}

.section-hero {
  display: flex;
  flex-direction: column;
  gap: 8.4rem;
  align-items: center;
  justify-content: center;
  transition: all 1s;
}


.primary-heading {
  font-size: 8rem;
  transition: all 1s;
  font-weight: 500;
  color: white;
}




.categories-search {
  font-size: 2rem;
  position: relative;
  display: flex;
  gap: 2.4rem;
}

.categories {
  transition: all 1s;
}

.select-category {
  display: flex;
  justify-content: space-between;
  width: 35rem;
  position: relative;
  align-items: center;
  padding: 1rem 2rem;
  border: 1px solid white;
  border-radius: 10px;
}


.select-category-click {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;

}

.category-options {
  position: absolute;
  top: 110%;
  width: 100%;
  z-index: 3;
  background-color: #4d4d4d;
  color: white;
  left: 0;
  display: block;
  height: 25rem;
  overflow-y: scroll;
  border-radius: 10px;
  overflow-x: hidden;

  transition: all 0.2s ease-in;
}

.hidden {
  height: 0;
}

.category-options::-webkit-scrollbar {
  width: 0;
  height: 0;
}



.category-option {
  font-size: 2rem;
  
  padding: 2rem 2rem;
  border-radius: 10px;
  transition: all 0.2s;
}

.category-option:hover {
  background-color: white;
  cursor: pointer;
  color: #4d4d4d;

}

.btn {
  padding: 1rem 2rem;
  font-size: 2rem;
  border: none;
  border-radius: 10px;
  background-color: white;
  color: #1a1a1a;

  transition: all 0.3s;
}

.btn:hover {
  background-color: #1a1a1a;
  color: white;
  box-shadow: inset 0 0 0 2px white;
}




.section-quote {
  transition: all 1s;
  color: #999999;
  width: 35%;
  justify-self: flex-start;
  align-self: center;
}

.section-quote div {
  font-size: 1.8rem;
  background-color: #1a1a1a;
  padding: 2rem;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  font-style: italic;
}

.section-quote div span{
  display: block;
}

blockquote {
  line-height: 1.6;
  margin-bottom: 2.4rem;
}



/* Section-Articles */
.section-articles{
  display: none;
  width: 100%;
  /* height: 100%; */
  gap: 6.4rem;
  align-items: center;
  justify-content: center;
}

.article{

width: 40rem;
/* background-color: #e6e6e6; */
color: #e6e6e6;

display: grid;
grid-template-rows: 0.8fr 0.8fr auto;
align-items: center;
border-radius: 1rem;
overflow: hidden;
transition: all 0.3s;
}

.article:hover{
  transform: scale(1.02);
  /* border: 1px solid #e6e6e6; */
  cursor: pointer;
}

.article-img{
  width: 100%;
}

.article-heading{
  font-size: 2rem;
  font-weight: 500;
  padding: 2rem;
  line-height: 1.2;
}

.article-information{
  padding-bottom: 2rem;
  /* justify-self: flex-end; */
  display: flex;
  justify-content: space-between;
  align-self: flex-end;
  color: #e6e6e6;
  font-size: 1.8rem;
}

.article-information p{
  padding-left: 2rem;
}

.article-information div{
  display: flex;
  gap: 2rem;
}







/* Changing layout */

.main-new-layout{
  grid-template-rows: 1fr 4fr;
  column-gap: 4.8rem;
  
}
.main-new-layout .new-layout {
  align-self: flex-start;
  padding-top: 4.8rem;
}

.main-new-layout .new-layout .hide-element {
  display: none;
}


.main-new-layout .new-layout .categories {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.main-new-layout .new-layout .categories .btn--refresh {
  display: inline-block;
}



.main-new-layout .section-quote {
  display: none;
}



/* Heading ANIMATION */
.primary-heading-section::after{
  content: "";
  display: inline-block;
  width: 100%;
  margin: 0 auto;
  height: 2px;
  border-radius: 5px;
  background-color: #e6e6e6;
  animation-name: heading-anm;
  animation-duration: 4s;
  animation-iteration-count: 1;
}

@keyframes heading-anm{
from{
  transform:translateX(0) scaleX(0);
  
  transform-origin: center; 
}

to{
  transform: translateX(0) scaleX(1);
  
  transform-origin: center;
}


}
